<html>
  <head>
    <title>
      <% order.id %>
    </title>
  </head>
  <body>
    <H3>
      ID: <%= @order.id %>
      <br>
      Name: <%= @order.name %>
      <br>
      Price: <%= @order.price %>
    </h3>
  </body>
</html>
